.detailsContainer{
    margin-top: 50px; 
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.detailsImg{
    width: 30%;
}
.detailsImg img{
    width: 100%;
}
.details{
    width: 68%;
}

@media screen and (max-width: 768px){
    .detailsImg{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .detailsImg img{
        width: 70%;
    }
    .details{
        width: 100%;
    }
}