.cartItems{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    border-bottom: 0.5px solid gray;
}
.cartImg{
    width: 25%;
}
.cartImg img{
    width: 100%;
}
.cartText {
    width: 72%;
    margin-bottom: 15px;
}