.orderTableConatiner{
    width: 100%;
    margin-top: 50px;
    overflow: scroll; 
}
 .orderHeader{
     text-align: center;
     margin-bottom: 15px;
     border-bottom: 2px solid black;
 }
.orderTableConatiner::-webkit-scrollbar {
    width: 5px;
  }
  
  .orderTableConatiner::-webkit-scrollbar-thumb {
    background-color: rgb(187, 19, 19);
    border-radius: 5px;
  }
  
  .orderTableConatiner::-webkit-scrollbar-track {
    background-color: #491be2;
    display: none;
  }