.categories_container{
    margin:100px 0px;
    padding: 0px 20px;
}
.categorie_img_container{
    margin-top: 18px;
}
.categorie_img_container img{
    min-height: 440px; 
}

.card {
    padding: 8px;
    margin-top: 17px;
    border: 0.5px solid lightgray;
}
.card img{
    width: 100%;
    height: 100px; 
}
.card h5{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    color: crimson;
}
.card-text p{
    font-size: 14px;
    color: darkcyan;
    font-weight: 600;
}
.rating_icon{
    color: orange;
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .categorie_img_container img{
        min-height: 300px; 
    }  
    .rating_icon{ 
        font-size: 16px;
    }
    .col-4{
        width: 50%;
    }
    
}