/* a{
    text-decoration: none;
}
.logo{
   font-style: italic;
   color: crimson;
   font-size: 40px;
}
.navItems{
    color: black;
    font-size: 20px;
    font-weight: 500;
    margin: 10px ;
    margin-right: 15px;
    text-decoration: none;
}
.NavIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.pdIcon{
    font-size: 30px;
    color: crimson;
    transition: .5s;
}
.pdIcon:hover{
    color: rgb(203, 20, 220);
}
.adminLogin{
    margin-left: 20px;
}
.adminIcon{
    font-size: 30px;
    cursor: pointer;
    border: 1px solid gray;
    padding: 2px;
    border-radius: 50%;
    color: crimson;
    transition: .6s;
}
.adminIcon:hover{
    color: red;
    border-color: crimson;
}

@media screen and (max-width: 768px){
    .adminLogin {
        background-color: #0ce9df91;
        margin-top: 20px;
        text-align: center;
        color: wheat;
        padding: 8px 0px;
    }
    .adminIcon {
        color: #ff0bea;
        font-size: 43px;
    }
} */