.addPostContainer{
    max-width: auto;
}
.addPostForm{
    width: 75%;
    margin: 50px auto;
}

@media screen and (max-width: 768px){
    .addPostForm{
        width: 85%;
        margin: 50px auto;
    }
}