.swiper-button-prev:after, .swiper-button-next:after {
  font-family: swiper-icons;
  font-size: 20px !important;
  text-transform: none !important;
  font-weight: bolder !important;
  color: blue;
  background-color: white;
  padding:5px 10px;
}
 
.swiper-slide{
    height: 600px !important;
}
 .sliderCard{
    width: 100%;
    height: 100%;  
    background-image: url("../../images//banner-images/sl1.jpg");
    background-size: cover;
    object-fit: cover;
    background-position: top 0 right 20%;
    background-repeat: no-repeat; 
 }
  

  @media screen and (max-width:768px) {
      .sliderCard{
        background-position: top 0 right 70%;
      }
      .swiper-slide{
        height: 450px !important;
    }
  }